<div class="tw-hidden lg:tw-flex lg:tw-gap-6 lg:tw-px-24 xl:tw-px-[234px] 2xl:tw-px-[112px] 3xl:tw-px-[234px] 4xl:tw-px-[316px] lg:tw-scroll-smooth lg:tw-overflow-x-scroll lg:tw-scroll-m-10 custom-scrollbar lg:tw-pb-12">
  {% for block in section.blocks %}
    {% render 'best-seller-card', product: block.settings['best-selling-product'], section: section %}
  {% endfor %}
</div>
